[Unit]
Description=remote gpg-agent browser socket
Documentation=man:gpg-agent(1)

[Socket]
ListenStream=%t/gnupg/S.gpg-agent.browser
SocketMode=0600
DirectoryMode=0700
Accept=true

[Install]
WantedBy=sockets.target
