[Unit]
Description=remote gpg-agent extra socket
Requires=gpg-agent-extra.socket

[Service]
Type=simple
ExecStart=/home/john/.local/bin/npiperelay.exe -ep -ei -s -a 'C:/Users/john/AppData/Local/gnupg/S.gpg-agent.extra'
StandardInput=socket

[Install]
WantedBy=default.target
